.cover-baner{
    width: 100%; 
    height: 400px;
    margin: 0;
}
.banner-01{
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.new_elements_first{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}
.short-news-top{
    a{
        color: #000;
    }
    margin-top: 20px;
    margin-left: 20px;
    .short-news-item{
        margin-right: 0px;
        margin-left:0px;
        margin-top:10px;
        width: 300px;
        height: 60px;
        .short-news-item-timetag{
            float: left;
            width: 60px;
            height: 60px;
            background-color: #a6196f;
            .wrap-item-timetag{
                margin: 10px 7px;
                p{
                    font-size: 16px;
                    color: #ffffff;
                }
            }
        }
        .short-news-item-content{
            float: left;
            width: 228px;
            height: 57px;
            margin-left: 10px;
            overflow: hidden;
            font-size: 16px;
            
        }
    }
}

@media (min-width: 1200px) {
    .banner.cover_01 {
        margin-top: -200px;
        height: 700px !important;
    }
}


@media (min-width: 992px) and (max-width: 1199px) {
  
  
}


@media (min-width: 768px) and (max-width: 991px) {
  
    .new_elements_first{
        display: none;
    }
  
}



@media (min-width: 576px) and (max-width: 767px) {
  
    .new_elements_first{
        display: none;
    }
  
}
    
@media (min-width: 0px) and (max-width: 575px) {
  
    .new_elements_first{
        display: none;
    }
  
}