@media (min-width: 1200px) {
  
    #section-send-mail{
        width: 600px;
        height: 100%;
        display: table;
        margin: 0 auto;
        padding-bottom: 15px;
        form{
            margin-top: 15px;
            input[type="text"]{
                padding: 5px;
                margin-bottom: 5px;
                line-height: 25px;
            }
            input[name="email"]{
                width: 100%;
            }
            input[name="name"], input[name="number"]{
                width: 297px;
            }
            input[name="number"]{
                float: right;
            }
            input[type="submit"]{
                padding: 5px;
                width: 100%;
                line-height: 25px;
                font-weight: bold;
                background-color: #f99d1b;
                color: #fff;
                border: none;
            }
        }
        textarea{
            width: 100%;
            height: 280px;
        }
    } 
    .contact-container{
        width: 100%;
        display: grid;
        grid-template-columns: auto 300px;
        grid-column-gap: 20px;
        .contact-content{
            width: 100%;
            display: grid;
            grid-template-rows: auto 250px;
            grid-row-gap: 20px;
            .contact-text{
            }

        }
        #contact-map{
            position: absolute;
            bottom: 0;
            width: 600px;
            height: 250px;
            left: 50%;
            margin-left: -292px;
        }
    }
  
}


@media (min-width: 992px) and (max-width: 1199px) {
  
    #section-send-mail{
        width: 600px;
        height: 100%;
        display: table;
        margin: 0 auto;
        padding-bottom: 15px;
        form{
            margin-top: 15px;
            input[type="text"]{
                padding: 5px;
                margin-bottom: 5px;
                line-height: 25px;
            }
            input[name="email"]{
                width: 100%;
            }
            input[name="name"], input[name="number"]{
                width: 297px;
            }
            input[name="number"]{
                float: right;
            }
            input[type="submit"]{
                padding: 5px;
                width: 100%;
                line-height: 25px;
                font-weight: bold;
                background-color: #f99d1b;
                color: #fff;
                border: none;
            }
        }
        textarea{
            width: 100%;
            height: 280px;
        }
    } 
    .contact-container{
        width: 100%;
        display: grid;
        grid-template-columns: auto 300px;
        grid-column-gap: 20px;
        .contact-content{
            width: 100%;
            display: grid;
            grid-template-rows: auto 250px;
            grid-row-gap: 20px;
            .contact-text{
            }

        }
        #contact-map{
            position: absolute;
            bottom: 0;
            width: 600px;
            height: 250px;
            left: 50%;
            margin-left: -292px;
        }
    }
    
}


@media (min-width: 768px) and (max-width: 991px) {
  
    #section-send-mail{
        width: 600px;
        height: 100%;
        display: table;
        margin: 0 auto;
        padding-bottom: 15px;
        form{
            margin-top: 15px;
            input[type="text"]{
                padding: 5px;
                margin-bottom: 5px;
                line-height: 25px;
            }
            input[name="email"]{
                width: 100%;
            }
            input[name="name"], input[name="number"]{
                width: 297px;
            }
            input[name="number"]{
                float: right;
            }
            input[type="submit"]{
                padding: 5px;
                width: 100%;
                line-height: 25px;
                font-weight: bold;
                background-color: #f99d1b;
                color: #fff;
                border: none;
            }
        }
        textarea{
            width: 100%;
            height: 280px;
        }
    } 
    .contact-container{
        width: 100%;
        display: grid;
        grid-template-columns: auto 300px;
        grid-column-gap: 20px;
        .contact-content{
            width: 100%;
            display: grid;
            grid-template-rows: auto 250px;
            grid-row-gap: 20px;
            .contact-text{
            }

        }
        #contact-map{
            position: absolute;
            bottom: 0;
            width: 600px;
            height: 250px;
            left: 50%;
            margin-left: -292px;
        }
    }
  
}



@media (min-width: 576px) and (max-width: 767px) {
  
    #section-send-mail{
        width: 600px;
        height: 100%;
        display: table;
        margin: 0 auto;
        padding-bottom: 15px;
        form{
            margin-top: 15px;
            input[type="text"]{
                padding: 5px;
                margin-bottom: 5px;
                line-height: 25px;
            }
            input[name="email"]{
                width: 100%;
            }
            input[name="name"], input[name="number"]{
                width: 297px;
            }
            input[name="number"]{
                float: right;
            }
            input[type="submit"]{
                padding: 5px;
                width: 100%;
                line-height: 25px;
                font-weight: bold;
                background-color: #f99d1b;
                color: #fff;
                border: none;
            }
        }
        textarea{
            width: 100%;
            height: 280px;
        }
    } 
    .contact-container{
        width: 100%;
        display: grid;
        grid-template-columns: auto 300px;
        grid-column-gap: 20px;
        .contact-content{
            width: 100%;
            display: grid;
            grid-template-rows: auto 250px;
            grid-row-gap: 20px;
            .contact-text{
            }

        }
        #contact-map{
            position: absolute;
            bottom: 0;
            width: 600px;
            height: 250px;
            left: 50%;
            margin-left: -292px;
        }
    }
  
}
    
@media (min-width: 0px) and (max-width: 575px) {
  
    #section-send-mail{
        width: 300px;
        height: 100%;
        display: table;
        margin: 0 auto;
        padding-bottom: 15px;
        form{
            margin-top: 15px;
            input[type="text"]{
                padding: 5px;
                margin-bottom: 5px;
                line-height: 25px;
            }
            input[name="email"]{
                width: 100%;
            }
            input[name="name"], input[name="number"]{
                width: 147px;
            }
            input[name="number"]{
                float: right;
            }
            input[type="submit"]{
                padding: 5px;
                width: 100%;
                line-height: 25px;
                font-weight: bold;
                background-color: #f99d1b;
                color: #fff;
                border: none;
            }
        }
        textarea{
            width: 100%;
            height: 280px;
        }
    } 
    .contact-container{
        width: 100%;
        display: grid;
        grid-template-columns: auto 300px;
        grid-column-gap: 20px;
        .contact-content{
            width: 100%;
            display: grid;
            grid-template-rows: auto 250px;
            grid-row-gap: 20px;
            .contact-text{
            }

        }
        #contact-map{
            position: absolute;
            bottom: 0;
            width: 300px;
            height: 250px;
            left: 50%;
            margin-left: -142px;
        }
    }
  
}