@media (min-width: 1200px) {
  
    .title{
        h2{
            font-size: 1.2em;
        }
        a{
            font-size: 0.8em;
        }
    }
    .section{
        width: 1260px;
        padding-top: 40px;
        margin: 0 auto;
    }
    //section-0
    #introduce{
        margin-top: 20px;
        #intro-content{
            padding: 0 !important;
            margin: 0!important;
            #intro-content-video{
                padding-right: 10px!important;
            }
            #intro-content-text{
                padding-left: 10px!important;
            }
            #intro-extention{
            }
        }
    }

    //section-1

  
}


@media (min-width: 992px) and (max-width: 1199px) {
  
    .title{
        h2{
            font-size: 1.2em;
        }
        a{
            font-size: 0.8em;
        }
    }
    .section{
        width: 940px;
        padding-top: 40px;
        margin: 0 auto;
    }
    //section-0
    #introduce{
        margin-top: 20px;
        #intro-content{
            padding: 0 !important;
            margin: 0!important;
            #intro-content-video{
                padding-right: 10px!important;
            }
            #intro-content-text{
                padding-left: 10px!important;
            }
            #intro-extention{
            }
        }
    }

    //section-1

  
}


@media (min-width: 768px) and (max-width: 991px) {
  
    .title{
        h2{
            font-size: 1.2em;
        }
        a{
            font-size: 0.8em;
        }
    }
    .section{
        width: 620px;
        padding-top: 40px;
        margin: 0 auto;
    }
    //section-0
    #introduce{
        margin-top: 20px;
        #intro-content{
            padding: 0 !important;
            margin: 0!important;
            #intro-content-video{
            }
            #intro-content-text{
                margin-top: 10px;
            }
        }
        #intro-extention{
            padding: 0px;
            margin-top: 10px;
        }
    }

    //section-1
  
}



@media (min-width: 576px) and (max-width: 767px) {
  
    .title{
        h2{
            font-size: 1.2em;
        }
        a{
            font-size: 0.8em;
        }
    }
    .section{
        width: 620px;
        padding-top: 40px;
        display: table;
        margin: 0 auto;
    }
    //section-0
    #introduce{
        margin-top: 20px;
        #intro-content{
            padding: 0 !important;
            margin: 0!important;
            #intro-content-video{
            }
            #intro-content-text{
                margin-top: 10px;
            }
        }
        #intro-extention{
            padding: 0px;
            margin-top: 10px;
        }
    }

    //section-1
}
    
@media (min-width: 0px) and (max-width: 575px) {
  
    .title{
        h2{
            font-size: 1.2em;
        }
        a{
            font-size: 0.8em;
        }
    }
    .section{
        width: 300px;
        padding-top: 40px;
        margin: 0 auto;
    }
    //section-0
    #introduce{
        margin-top: 20px;
        #intro-content{
            padding: 0 !important;
            margin: 0!important;
            #intro-content-video{
            }
            #intro-content-text{
                margin-top: 10px;
            }
        }
        #intro-extention{
            padding: 0px;
            margin-top: 10px;
        }
    }

    //section-1
  
}