@media (min-width: 1200px) {
  
    .bn-section-0{
        width: 956px;
    }
  
}


@media (min-width: 992px) and (max-width: 1199px) {
  
    .bn-section-0{
        width: 956px;
        margin: 0 auto;
    }
  
}


@media (min-width: 768px) and (max-width: 991px) {
  
    .bn-section-0{
        width: 636px;
        margin: 0 auto;
    }
  
}



@media (min-width: 576px) and (max-width: 767px) {
  
    .bn-section-0{
        width: 636px;
        margin: 0 auto;
    }
  
}
    
@media (min-width: 0px) and (max-width: 575px) {
  
    .bn-section-0{
        width: 300px;
        margin: 0 auto;
    }
  
}